/* duy */

/* tỏi */

/* linh*/
.block1{
    position: relative;
    top: 50px;
    background-color: #f1f3f48f;
}
h1.h1{
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 46px;
    line-height: 4.6rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}
.loading1{
    position: relative;
    top: 35px;
    border-radius: 50%;
    width: 40PX;
    height: 40PX;
}
p{
    font-size: 20px;
}
.storyavatar{
    position: relative;
    left: 15%;
}
ul.social{
    position: relative;
    left: 20%;
    top: 15px;
}
.fbplugin{
    background-color: #E1E2EB;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}